.footerWrapper {
  width: 100vw;
  padding: 2rem 2rem 0 2rem;
}

.footerContainer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 4rem;
  border-radius: 20px;
}

.footerHeading {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.footerText {
  font-size: 1.6rem;
  line-height: 26px;
  margin-bottom: 2rem;
  font-weight: 300;
}

.footerInputs {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6rem;
  font-size: 1.8rem;
}
.footerInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-white);
}
.footerInput {
  background-color: var(--color-black);
  color: var(--color-white);
  width: 30rem;
  border: none;
  outline-width: thin;
  padding: 1rem;
}

.footerInput:focus {
  outline: none;
}

.footerConfirm {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.footerBtn {
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: 50%;
  font-weight: 300;
}

.errorInput {
  color: var(--color-red);
  font-size: 1.4rem;
  margin-top: 0.4rem;
}

.footerInfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12rem;
  margin-top: 8rem;
}

.footerLogo {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.footerIcon {
  font-size: 1.8rem;
  margin-right: 1rem;
  cursor: pointer;
}

.footerLinksHeading {
  font-size: 1.8rem;
  font-weight: bold;
}

.footerLinksList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  gap: 1.4rem;
  list-style: none;
  margin-top: 2rem;
  cursor: pointer;
}

.footerLinksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin-left: 12rem;
}

@media (max-width: 56.25rem) {
  .footerInput {
    width: 20rem;
  }

  .footerLinksContainer {
    margin-left: 6rem;
  }

  

  .footerInfo {
    gap: 4rem;
    justify-content: space-between;
  }

}

@media (max-width: 50rem) {
  .footerInputs {
    flex-direction: column;
  }

  .footerInput {
    width: 40rem;
  }

  .footerInputContainer {
    margin-bottom: 2rem;
  }
  .footerLinksContainer {
    margin-left: 0rem;
    gap: 4rem;
  }


}

@media (max-width: 43.75rem) {
  .footerLinksHeading {
    font-size: 1.4rem;
  }

  .footerLinksList {
    font-size: 1.2rem;
  }
}

@media (max-width: 37.5rem) {
  .footerInput {
    width: 30rem;
  }

  .footerInfo {
    flex-direction: column;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
   
  }

  .footerLogoDiv {
    font-size: 2.4rem;
   
  }
  .footerHeading {
    text-align: center;
    padding: 2rem;
  }
  .footerLogoDiv {
    font-size: 2rem;
    margin: 0 auto;
  }

  .footerLinksContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
  }

  .footerLinksList {
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
  }

  .footerLinksHeading {
    font-size: 1.2rem;
    text-align: center;
  }
}

@media (max-width: 31.25rem) {
  .footerInput {
    width: 24rem;
  }

  .footerWrapper {
    padding: 0;
  }

  .footerContainer {
    padding: 2rem;
  }

 

  .footerInputs {
    gap: 2rem;
    margin-top: 4rem;
  }

  .footerText {
    text-align: center;
  }

 

  

  

 

}
