.landingPage {
  width: 100vw;
  height: 100vh;
  padding: 2rem 2rem 0 2rem;
}

.heroImg {
  width: 100%;
  height: 100%;
  background-image: url("../img/hero3.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin-top: 4rem;
}

.heading {
  font-size: 3rem;
  font-weight: 300;
  color: var(--color-white);
  letter-spacing: 1px;
  text-align: center;
  margin-top: 8rem;
}

.heroBtn {
  display: inline-block;
  font-size: 1.4rem;
}

@media (max-width: 50rem) {
  .heading {
    font-size: 2.6rem;
    padding: 4rem;
  }
  .heroContent {
    gap: 2rem;
  }
}

@media (max-width: 31.25rem) {
  .heading {
    margin-top: 6rem;
  }

  .landingPage {
    padding: 0;
  }
}
