.salonsContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
}

.salonsHeading {
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  padding: 2rem 0 0 0;
  padding-left: 8rem;
}

.salonsText {
  font-size: 1.6rem;
  padding: 2rem;
  margin-left: 6rem;
}

.salons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 56.25rem) {
  .salons {
  flex-direction: column;
  }
}

@media (max-width: 31.25rem) {
.salonsHeading {
  text-align: center;
  padding: 0;
}

.salonsText {
  margin: 0;
  text-align: center;
}
}